/* About.module.css */

.container {
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-family: sans-serif;
  }
  
  .accordionWrapper {
    width: 900px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 8px 8px 15px #141414, -8px -8px 15px #2e2e2e;
    color: #f0f0f0;
  }
  
  .accordionItem {
    margin-bottom: 10px;
    border: none;
  }
  
  .accordionHeader {
    background-color: #1e1e1e;
    color: #f0f0f0;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    margin-bottom: 8px;
    box-shadow: inset 2px 2px 5px #141414, inset -2px -2px 5px #2e2e2e;
  }
  
  .accordionBody {
    background-color: #1e1e1e;
    color: #f0f0f0;
    border-radius: 0px;
    padding: 20px;
    box-shadow: inset 4px 4px 8px #141414, inset -4px -4px 8px #2e2e2e;
  }
  