.image {
    height: 600px;
    object-fit: cover;
    filter: brightness(0.8); 
  }
  
  .caption {
    text-align: center;
    background-color: #121212; 
    padding: 20px;
    color: #ffffff; 
  }
  
  .caption h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff; 
  }
  
  .caption p {
    font-size: 16px;
    color: #cccccc; 
  }
  